<div class="filters">
  <mat-form-field>
    <mat-label>Ordenar</mat-label>
    <mat-select panelClass="sort-select" [(ngModel)]="ordem" (selectionChange)="searchGames(ordem)">
        <mat-option value="name">Nome</mat-option>
        <mat-option value="-released">Lançamento</mat-option>
        <mat-option value="-added">Adicionado</mat-option>
        <mat-option value="-created">Criado</mat-option>
        <mat-option value="-updated">Atualizado</mat-option>
        <mat-option value="-rating">Avaliação</mat-option>
        <mat-option value="metacritic">Metacritc</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="games">
  <ng-container *ngFor="let jogo of jogos">
    <div class="game" (click)="openGameDetails(jogo.id)">
      <div class="game-thumb-container">
        <img class="game-thumbnail" src="{{jogo.background_image}}" alt="Imagem do Jogo"
          *ngIf="jogo.background_image"/>
        <p *ngIf="!jogo.background_image">Sem imagem</p>
      </div>
      <div class="game-description">
        <p class="game-name">{{jogo.name}}</p>
        <div class="game-platforms">
            <img class="game-platform" src="assets/imagens/plataformas/{{plataforma.platform.slug}}.svg" alt="{{plataforma.platform.slug}}"
              *ngFor="let plataforma of jogo.parent_platforms"/>
        </div>
      </div>
    </div>
  </ng-container>
</div>
