<div class="filters">
  <mat-form-field>
    <mat-label>Ordenar</mat-label>
    <mat-select panelClass="sort-select" [(ngModel)]="sort">
        <mat-option value="nome">Nome</mat-option>
        <mat-option value="lancamento">Lançamento</mat-option>
        <mat-option value="adicionado">Adicionado</mat-option>
        <mat-option value="criado">Criado</mat-option>
        <mat-option value="atualizado">Atualizado</mat-option>
        <mat-option value="avaliacao">Avaliação</mat-option>
        <mat-option value="metacritic">Metacritc</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="games">
  <div class="game">
    <div class="game-thumb-container">
      <img class="game-thumbnail" src="https://thispersondoesnotexist.com/image" alt="Thumbnail do Jogo"/>
    </div>
    <div class="game-description">
      <p class="game-name">Nome</p>
      <div class="game-platforms">
        <img class="game-platform" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Xbox_one_logo.svg/2048px-Xbox_one_logo.svg.png" alt="XboxLogo">
      </div>
    </div>
  </div>
</div>
